<%= error_messages_for 'target' %>

<!--[form:target]-->
<p><label for="target_impl">Ruby Implementation</label>
<%= select 'target', 'impl', IMPLEMENTATIONS.sort, :include_blank => true %></p>

<p><label for="target_impl_version">Ruby Implementation Version</label>
<%= text_field 'target', 'impl_version', :size => 10 %></p>

<p><label for="target_ruby_version">Ruby Version</label>
<%= select 'target', 'ruby_version', RUBY_VERSIONS.sort, :include_blank => true %></p>

<p><label for="target_arch">Architecture</label>
<%= select 'target', 'arch', ARCHS.sort, :include_blank => true %></p>

<p><label for="target_os">Operating System</label>
<%= select 'target', 'os', OPERATING_SYSTEMS.sort, :include_blank => true %></p>

<p><label for="target_vm">Virtual Machine or Runtime (optional)</label>
<%= select 'target', 'vm', VIRTUAL_MACHINES.sort, :include_blank => true %></p>

<p><label for="target_notes">Notes (optional)</label><br/>
<%= text_area 'target', 'notes', :size => "60x6" %></p>

<!--[eoform:target]-->