<p>
<%= public_link_target(@target) %> by <%= link_profile(@result.creator) %><br/>
<%= render :partial => 'public/target_summary' %>
</p>
<p>
  <%= @result.files_count %> Files<br/>
  <%= @result.examples_count %> Examples<br/>
  <%= @result.expectations_count %> Expectations<br/>
  <%= @result.failures_count %> Failures<br/>
  <%= @result.errors_count %> Errors<br/>
</p>
<h2>Output Log</h2>
<div class="log">
  <%= EasyFormat.format(@result.log,true,120) %>
</div>